 <main class="holder">
        <div class="columna left">
            <h2>Contactenos</h2>
            <form action="/contactenos" method="post" class="formulario">
                <p>
                    <label for="">Nombre</label>
                    <input type="text" name="nombre"/>
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="text" name="email"/>
                </p>
                <p>
                     <label for="">Teléfono</label>
                    <input type="text" name="tel"/>
                </p>
                <p>
                    <label for="comentario">Comentario</label>
                    <textarea id="comentario" name="comentarios"></textarea>
                </p>
                <p class="acciones"><input type="submit" value="Enviar"></p>
            </form>
            {{#if message}}
            <p>{{message}}</p>
            {{/if}}
        </div>
        <div class="columna right">
            <h2>Otros medios</h2>
            <ul>
                <li>Teléfono: 0800-888-2783</li>
                <li>Email: contacto@artgallery.com.ar</li>
            </ul>
        </div>
    </main>