<main class="holder">
        <h2>Galeria</h2>
            <div class="galeria">
            <div class="arriba"> 
                <div class="foto">
                    <img src="images/galeria/obra1.jpg" alt="img01">
                </div>
                <div class="foto">
                    <img src="images/galeria/obra2.jpg" alt="img02">
                </div>
                <div class="foto">
                    <img src="images/galeria/obra3.jpg" alt="img03">
                </div>
            </div>
            <div class="abajo">    
                <div class="foto">
                    <img src="images/galeria/obra 4.jpg" alt="img04">
                </div>
                <div class="foto">
                    <img src="images/galeria/obra5.jpg" alt="img05">
                </div>
                <div class="foto">
                    <img src="images/galeria/obra6.jpg" alt="img06">
                </div>
            </div>
    </main>