<main class="holder">
   <div class="home left">
        <h2>Bienvenidos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dignissimos at blanditiis alias quidem totam aliquid suscipit, eaque facilis ratione possimus magnam nemo, molestiae consectetur! Magnam quidem hic provident ut.
        Eum iure doloribus deleniti voluptatibus adipisci placeat a, fugit dolores unde tenetur aliquam enim perferendis culpa alias ipsam sunt est quos autem dignissimos, quo voluptate cum deserunt! Consequuntur, numquam enim.
        Odio natus, amet esse architecto, illo tenetur quis maxime eligendi provident iste voluptate eveniet placeat. Consequatur libero ducimus in aliquam asperiores alias expedita.
        
        
        </p>
    </div>
    <div class="right">
        <img src="images/home/galeria.jpg" alt="Galeria">
    </div>
</main>