<main class="holder">
        <div class="somos">
            <div class="info">
                <h2>La galeria</h2> 
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci harum nisi ad fuga sed? Vero architecto suscipit natus illum corrupti cupiditate neque, optio debitis reprehenderit saepe magni nihil similique?</P>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ratione iste aut consequatur, laborum corrupti aliquam quia perspiciatis nesciunt quam, beatae similique deserunt sequi officiis architecto eum minus eligendi accusamus.</p>
            </div>
        </div>
        <div class="somos">
            <div class="info">
                <h2>Quienes somos</h2> 
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci harum nisi ad fuga sed? Vero architecto suscipit natus illum corrupti cupiditate neque, optio debitis reprehenderit saepe magni nihil similique?</P>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ratione iste aut consequatur, laborum corrupti aliquam quia perspiciatis nesciunt quam, beatae similique deserunt sequi officiis architecto eum minus eligendi accusamus.</p>
            </div>
        </div>
        <div class="somos">
            <div class="info">
                <h2>Que buscamos</h2> 
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci harum nisi ad fuga sed? Vero architecto suscipit natus illum corrupti cupiditate neque, optio debitis reprehenderit saepe magni nihil similique?</P>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ratione iste aut consequatur, laborum corrupti aliquam quia perspiciatis nesciunt quam, beatae similique deserunt sequi officiis architecto eum minus eligendi accusamus.</p>
            </div>
        </div>
    </main>