 <main class="holder">
        <div class="columna left">
            <h2>Ingresar</h2>
            <form action="" method="" class="formulario">
                <p>
                    <label for="">Email</label>
                    <input type="text" />
                </p>
                <p>
                    <label for="">password</label>
                    <input type="password" />
                </p>
                <p class="acciones"><input type="submit" value="Ingresar"></p>
            </form>

        </div>
        
        <div class="columna right">
            <h2>Registro</h2>
            <form action="" method="" class="formulario">
                <p>
                    <label for="">Nombre</label>
                    <input type="text" />
                </p>
                <p>
                     <label for="">Apellido</label>
                    <input type="text" />
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="text" />
                </p>
                <p>
                    <label for="">password</label>
                    <input type="password" /> 
                </p>
                <p class="acciones"><input type="submit" value="Crear Usuario"></p>
            </form>
        </div>
    </main>    